/**
 * This file enables CSS3-based rounded corners for capable browsers.
 *
 * Author: Sayontan Sinha
 */

/* All corners same */
#language-selector ul ul li,
#language-selector ul ul li a,
#language-selector ul ul li a:visited {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
}

a.comment-reply-link, a.comment-response-types, span.comment-response-types, .wp-caption,
.suf-mag-headline-block li.suf-mag-headline a.tab-current, .widget-suf-cat-posts li.suf-cat-post:hover,
.suf-mag-category li.suf-mag-catblock-post:hover, .activity-meta a, ul.item-list span.activity {
    border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.suf-widget, .post, div.page, .non-wp-post, #subnav, .hier-nav, .page-nav, .post-nav, .flattened, .author-profile, .tag-info,
.category-info, #featured-posts, h3#comments, h3.comments, h3#respond, h3.respond, #reply-title, textarea, .author-info, blockquote, pre,
input[type="text"], input[type="password"], .commentlist li, .suf-mag-categories td, .suf-mag-excerpts td, .suf-tiles td,
h2.suf-mag-headlines-title, .suf-mag-excerpts th, .suf-tiles th, .suf-mag-categories th, #recaptcha_response_field, #language-selector ul li,
#language-selector ul li a, #language-selector ul li a:visited, .download, .announcement, .warning, .note, .suf-mag-headlines,
.nr-post h3, .nr_widget h4, .post form#whats-new-form #whats-new-textarea, .post form#whats-new-form, ul.item-list li, .standard-form, fieldset {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#wrapper {
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.searchform .searchfield,
.dir-search input {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.button, input[type="button"], input[type="submit"], .submit,
a.suf-mag-excerpt-full-story,
a.suf-mag-excerpt-full-story:hover,
a.suf-mag-excerpt-full-story:visited,
a.suf-mag-category-all-posts,
a.suf-mag-category-all-posts:hover,
a.suf-mag-category-all-posts:visited, .generic-button {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
}
#nav.continuous ul li,
#nav.continuous ul li a {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
}
/* Same top-left and top-right */
#nav ul ul li,
#nav ul ul li a,
#nav ul ul li a:visited {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
    -khtml-border-top-left-radius: 0;
    -khtml-border-top-right-radius: 0;
}

.dbx-handle {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
}

#commentform label.textarea,
h2.suf-mag-category-title,
#language-selector ul ul li:first-child,
#language-selector ul ul li:first-child a,
#language-selector ul ul li:first-child a:visited,
ul.sidebar-tabs li a,
#nav ul li, #nav ul li a, #nav ul ul ul li:first-child, #nav ul ul ul li:first-child > a, #nav ul ul ul ul li:first-child > a:hover,
#nav-top ul ul ul li:first-child, #nav-top ul ul ul li:first-child > a, #nav-top ul ul ul li:first-child > a:hover,
#item-nav div.item-list-tabs ul li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
}

/* Same top-left and bottom-left */
#commentform label {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
}

/* Same top-right and bottom-right */
#commentform input[type="text"] {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
}

/* Same bottom-left and bottom-right */
#language-selector ul ul li:last-child,
#language-selector ul ul li:last-child a,
#language-selector ul ul li:last-child a:visited,
div.sidebar-tab-content,
#nav ul ul li:last-child, #nav ul ul li:last-child > a, #nav ul ul li:last-child > a:hover,
#nav-top, #nav-top ul ul li:last-child, #nav-top ul ul li:last-child > a, #nav-top ul ul li:last-child > a:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
}

/* Solo corners */
#commentform input[type="text"],
#commentform label.textarea {
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -khtml-border-bottom-left-radius: 0;
}

#commentform input[type="text"],
#commentform textarea {
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-khtml-border-top-left-radius: 0;
}
