/* Standard Styles */
a {
	color:#227ad1;
}
a:visited {
	color: #227ad1;
}
/*
blockquote{
	background: #f7f7f7;
	border: 1px solid #ddd;
}
*/

a.dbx-toggle, a.dbx-toggle:visited {
	background-image:url(../../images/exp-coll-rblue.png);
	background-repeat:no-repeat;
}

* html a.dbx-toggle,
* html a.dbx-toggle:visited {
	background-image:url(../../images/exp-coll-rblue.gif);
	background-repeat:no-repeat;
}

.scheme a.dbx-toggle, .scheme a.dbx-toggle:visited {
	background-image:url(../../images/exp-coll-white.png);
	background-repeat:no-repeat;
}

* html .scheme a.dbx-toggle,
* html .scheme a.dbx-toggle:visited {
	background-image:url(../../images/exp-coll-white.gif);
	background-repeat:no-repeat;
}

.suf-widget h3.scheme {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

#wrapper {
/*	border: 1px solid #0000d0;*/
	border: 1px solid #B6D1E4;
	background-color: #f8f8ff;
}

/* Blog title */
.blogtitle a:hover {
	color: #227ad1;
}

/* search form */
.searchform input[type="submit"].searchsubmit {
	background: url(../../images/search-button-rblue.png) no-repeat 0 0;
}

* html #right-header-widgets .searchsubmit, * html #left-header-widgets .searchsubmit, * html #top-bar-right-widgets .searchsubmit, * html #top-bar-left-widgets .searchsubmit,
* html #sidebar .searchsubmit, * html #sidebar-2 .searchsubmit, * html #sidebar-b .searchsubmit, * html #sidebar-2-b .searchsubmit, * html #horizontal-outer-widgets-1 .searchsubmit, * html #horizontal-outer-widgets-2 .searchsubmit {
	background: url(../../images/search-button-rblue.gif) no-repeat 0 0;
}

/* main menu */
#nav {
	border-bottom: 1px solid #B6D1E4;
}
#nav.continuous, #nav.continuous ul li, #nav.continuous ul li a, #nav.continuous ul li a:visited,
#nav-top.continuous, #nav-top.continuous ul li, #nav-top.continuous ul li a, #nav-top.continuous ul li a:visited {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}
#nav.continuous, #nav-top.continuous {
	border-bottom: 1px solid #0052a4;
}
#nav.continuous .current_page_item a, #nav.continuous .current_page_item a:hover,#nav.continuous ul li a:hover, #nav.continuous li a:active, #nav.continuous ul ul li a, #nav.continuous ul ul li a:visited,
#nav-top.continuous .current_page_item a, #nav-top.continuous .current_page_item a:hover,#nav-top.continuous ul li a:hover, #nav-top.continuous li a:active, #nav-top.continuous ul ul li a, #nav-top.continuous ul ul li a:visited {
	background: #f8f8ff;
	color: #222;
}
#nav.continuous ul ul li a:hover, #nav-top.continuous ul ul li a:hover {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}
#nav ul li, #nav.continuous ul ul li, #nav-top.continuous ul ul li{
	border: 1px solid #B6D1E4;
}

#nav ul li a{
	color: #222;
	background-color: #f8f8ff;
}

#nav .current_page_item a, #nav .current_page_item a:hover,#nav li a:active {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #fff;
}

#nav li a:hover {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

#nav li a:active {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* Styling for navigation menus */
#nav ul ul li {
	border: 1px solid #B6D1E4;
}

#nav ul ul li a:hover{
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* style the links for the top level */
#nav a,
#nav a:visited {
	color: #000000;
}

#nav li.current_page_item a,
#nav li.current-cat a,
#nav li.current-menu-item a,
#nav a:active {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* style the second level background */
#nav ul ul a.drop,
#nav ul ul a.drop:visited {
	background: #f8f8ff;
}

/* style the second level hover */
#nav ul ul a.drop:hover {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #fff;
}

#nav ul ul :hover > a.drop {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* style the third level hover */
#nav ul ul ul a:hover {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* style the second level links */
#nav ul ul a,
#nav ul ul a:visited {
	background: #f8f8ff;
	color:#222;
}

/* style the top level hover */
#nav a:hover,
#nav ul ul a:hover {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

#nav :hover > a,
#nav ul ul :hover > a {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

#nav-top {
	background-color: #f8f8ff;
	border: 1px solid #B6D1E4;
	border-top: none;
}

#nav-top ul li{
	border: 1px solid #B6D1E4;
}

#nav-top ul li a{
	color: #222;
	background-color: #f8f8ff;
}

#nav-top .current_page_item a, #nav .current_page_item a:hover,#nav li a:active {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #fff;
}

#nav-top li a:hover {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

#nav-top li a:active {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* Styling for navigation menus */
#nav-top ul ul li {
	border: 1px solid #B6D1E4;
}

#nav-top ul ul li a:hover{
	color: #fff;
}

/* style the links for the top level */
#nav-top a,
#nav-top a:visited {
	color: #000000;
}

#nav-top li.current_page_item a,
#nav-top li.current-cat a,
#nav-top li.current-menu-item a,
#nav-top a:active {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* style the second level background */
#nav-top ul ul a.drop,
#nav-top ul ul a.drop:visited {
	background: #f8f8ff;
}

/* style the second level hover */
#nav-top ul ul a.drop:hover {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #fff;
}

#nav-top ul ul :hover > a.drop {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* style the third level hover */
#nav-top ul ul ul a:hover {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* style the second level links */
#nav-top ul ul a,
#nav ul ul a:visited {
	background: #f8f8ff;
	color:#222;
}

/* style the top level hover */
#nav-top a:hover,
#nav-top ul ul a:hover {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

#nav-top :hover > a,
#nav-top ul ul :hover > a {
	color: #fff;
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

/* sub menu */
#subnav {
	background: #fff;
	margin-top: 15px;
	border: 1px solid #c0c0c0;
}
#subnav ul {
	margin: 0px;
	padding: 0px 0px 0px 5px;
	list-style: none;
}
#subnav .current_page_item a,
#subnav .current_page_item a:visited,
#subnav .current_page_parent a,
#subnav .current_page_parent a:visited {
	color: #227ad1;
}
#subnav li a:hover {
	color: #227ad1;
}

/* Level 3 */
.hier-nav {
	background: #f8f8ff;
}

.hier-nav .current_page_item a, .hier-nav .current_page_item a:visited, .hier-nav .current_page_parent a, .hier-nav .current_page_parent a:visited {
	color: #227ad1;
}

.hier-nav li a:hover {
	color: #227ad1;
}

#top-bar-right-spanel-tab .toggle {
	border: 1px solid #b6d1e4;
}

#top-bar-right-spanel-tab .toggle a {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #ffffff;
}

/* content */
.post .date {
	background: url(../../images/caldark.png) no-repeat;
	color: #fff;
}

.post .date span.day, .post .date span.month {
	color: #fff;
}
.post .date span.year {
	color: #fff;
}

.bookdata a:hover,
.postdata a:hover {
	color: #227ad1;
}

/* post title */
h1.posttitle a:hover,
h2.posttitle a:hover {
	color: #227ad1;
}
.tags a:hover {
	color: #227ad1;
}

div.page-links span {
	border-color: #227ad1;
}

div.page-links > span {
	background-color: #227ad1;
	color: #fff;
}

div.page-links a:hover {
	background-color: #227ad1;
	color: #fff;
}

/* next & previous page navigation */
.page-nav a:hover {
	color: #227ad1;
}

/* next & previous post navigation */
.post-nav a:hover {
	color: #227ad1;
}

.suf-page-nav a,
.suf-page-nav a:visited,
.suf-page-nav span {
	border-color: #227ad1;
	color: #227ad1;
}

.suf-page-nav a:hover {
	background-color: #227ad1;
}

.suf-page-nav span.current {
	background-color: #227ad1;
	color: #ffffff;
}

/* Comments  */
h3#comments,
h3.comments {
	background-color: #f8f8ff;
}
h3#respond, h3.respond, #reply-title {
	background-color: #f8f8ff;
}

/* comment list */
.commentlist cite {
	color: #227ad1;
}
.commentlist cite a, .commentlist cite a:visited {
	color: #227ad1;
}

.commentlist .alt {
	background-color: #f8f8ff;
}

div.comment-response-types span {
	border-color: #227ad1;
}

div.comment-response-types > span {
	background-color: #227ad1;
	color: #fff;
}

div.comment-response-types a:hover {
	background-color: #227ad1;
	color: #fff;
}

/* Credits  */
#page-footer, #cred {
	border-top: 1px solid #B6D1E4;
}

#cred a:hover {
	color: #227ad1;
}

.button, input[type="submit"], input[type="button"] {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #fff;
}

/* sidebar */
.suf-widget h3,
.suf-widget h3:hover,
.suf-widget h3 a,
.suf-widget h3 a:visited {
	color: #444;
}

.suf-widget h3.scheme,
.suf-widget h3.scheme:hover,
.suf-widget h3.scheme a,
.suf-widget h3.scheme a:visited {
	color: #fff;
}

div.sidebar-tab-content a:hover,
div.sidebar-tab-content a:focus,
div.sidebar-tab-content a:active,
.suf-widget a:hover,
.suf-widget a:focus,
.suf-widget a:active,
.warea a:hover,
.warea a:focus,
.warea a:active {
	color: #227ad1;
}

.suf-mag-category li,
.sidebar-tab-content ul li,
.suf-widget li,
.suf-flat-widget li,
.suf-panel-widget li {
	background-image: url(../../images/icons/bulletrbl.png);
}

.sidebar-tab-content ul li ul li,
.suf-widget ul li ul li {
	background-image: url(../../images/icons/bulletrbl.png);
}

.tab-box div.sbtab-content-categories ul li,
.tab-box div.sbtab-content-categories ul li ul li,
.tab-box div.sbtab-content-categories ul li ul li ul li,
.widget_categories ul li,
.widget_categories ul li ul li,
.widget_categories ul li ul li ul li {
	background-image: url(../../images/icons/folderbl16.png);
}

/* meta */
div.sbtab-content-meta .rss,
.suf-widget .rss,
.suf-flat-widget .rss,
.suf-panel-widget .rss,
.widget_meta .rss {
	background-image: url(../../images/icons/rssrblue16.png);
}

.widget_calendar td.with-posts { background: #0052a4; }
.widget_calendar td.with-posts a { color: #fff; }

/* Comment Form */
#commentform label.fancy {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #fff;
}

/* These settings are required for Featured Posts */
.sliderIndex a, .sliderIndex a:visited,
#sliderIndex a,
#sliderIndex a:visited {
	border-color: #227ad1;
	color: #227ad1;
}

.sliderIndex a:hover, .sliderIndex a.activeSlide,
#sliderIndex a:hover,
#sliderIndex a.activeSlide {
	background-color: #227ad1;
	color: #fff;
}

/* These settings are for common plugins */
.wp-pagenavi a,
.wp-pagenavi a:visited,
.wp-pagenavi span {
	border-color: #227ad1;
	color: #227ad1;
}

.wp-pagenavi span.current {
	background-color: #227ad1;
	color: #fff;
}

.wp-pagenavi a:hover {
	background-color: #227ad1;
	color: #fff;
}

.warea ul.sidebar-tabs li a.tab-current,
ul.sidebar-tabs li a.tab-current {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #fff;
}

/* Magazine */
.suf-mag-headline-block li.suf-mag-headline a.tab-current,
h2.suf-mag-category-title,
a.suf-mag-excerpt-full-story,
a.suf-mag-excerpt-full-story:visited,
.warea a.suf-mag-category-all-posts,
.warea a.suf-mag-category-all-posts:visited,
a.suf-mag-category-all-posts,
a.suf-mag-category-all-posts:visited {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
	color: #fff;
}

/* BuddyPress */
#item-nav div.item-list-tabs ul li.selected {
	background: #0052a4 url(../../images/menu-dark.jpg) repeat-x top left;
}

#item-body div.item-list-tabs ul li.current a, #item-body div.item-list-tabs ul li.current a:visited, #item-body div.item-list-tabs ul li.current a:hover {
	color: #227ad1;
}

div.item-list-tabs ul li.selected a, div.item-list-tabs ul li.selected a:visited, div.item-list-tabs ul li.selected a:focus, div.item-list-tabs ul li.selected a:hover,
.dir-form h3 a.button, .dir-form h3 a.button:hover, .dir-form h3 a.button:visited {
	color: #fff;
}

#item-nav div.item-list-tabs ul li {
	border: 1px solid #ddd;
	border-bottom: none;
}

.post form#whats-new-form, ul.item-list .activity, ul.item-list .groups, ul.item-list .blog, ul.item-list li div.activity-comments ul li, .standard-form, ul.item-list .member {
	border: 1px solid #B6D1E4;
	background-color: #f8f8ff;
}

#l3nav .current a, #l3nav .current a:visited, #l3nav .current a, #l3nav .current a:visited {
	color: #227ad1;
}


